body {
    margin: 0;
    padding: 0;
    background-color: deepskyblue;
    font-family: Verdana,sans-serif;
}

header, nav, section, footer, #wrap {
    background-color: lightskyblue;
    padding:0;
}

header{
    padding: 0;
    margin:0;
}

#wrap {
    width: 60%;
    margin: 0px auto;
    padding-top: 0;
}

#h1{
    font-size: 50px;
}


        
}

.container{
    position: relative;
    text-align: center;
    color:midnightblue;
    padding: 0;
}

.centered{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inherit;
}

nav{
    background-color: midnightblue;
    padding: 20px;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
}

nav ul {
    margin:0;
    padding:0;
}


nav a {
    color: white;
    font-size: 170%;
    text-decoration: none;
    padding: 20px;
}

nav a:hover{
    background-color: lightblue;
    color: midnightblue;
}

section{
    padding: 20px 40px 20px 40px;
    overflow: auto;
}

footer{
    background-color:midnightblue;
    color: white;
    text-align: center;
    padding: 20px;
}

.pic{
    width: 45%;
    float: right;
    margin: 0 0 20px 20px;
}

.pic2{
    width: 50%;
    float: left;
    margin: 10px 20px 60px 0;
}

.button{
    background-color: midnightblue;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    font-size: 150%;
    
}

a.button:hover{
    background-color: lightblue;
    color: midnightblue;
}

